Pandas

In [1]:
import pandas as pd
import numpy as np

Pandas Series

In [3]:
population = pd.Series([100,567,278,33,26])

In [4]:
population

0    100
1    567
2    278
3     33
4     26
dtype: int64

In [5]:
population.name = "Population in different counties"

In [7]:
population

0    100
1    567
2    278
3     33
4     26
Name: Population in different counties, dtype: int64

In [9]:
population.dtype

dtype('int64')

In [10]:
population.values

array([100, 567, 278,  33,  26], dtype=int64)

In [11]:
population[0]

100

In [12]:
population.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
population.index = ['Kisumu', 'Nairobi', 'Nakuru', 'Nyeri', 'Machakos']

In [14]:
population

Kisumu      100
Nairobi     567
Nakuru      278
Nyeri        33
Machakos     26
Name: Population in different counties, dtype: int64

In [16]:
pd.Series({'Kisumu':100, 'Nairobi': 567, 'Nakuru': 278,'Nyeri': 33,
'Machakos':26}, name = 'Population in different counties')

Kisumu      100
Nairobi     567
Nakuru      278
Nyeri        33
Machakos     26
Name: Population in different counties, dtype: int64

In [17]:
pd.Series([100,567,278,33,26], index = ['Kisumu','Nairobi','Nakuru', 'Nyeri','Machakos'], name = 'Population in different counties')

Kisumu      100
Nairobi     567
Nakuru      278
Nyeri        33
Machakos     26
Name: Population in different counties, dtype: int64