Pandas

In [1]:
import pandas as pd
import numpy as np

Pandas Series

In [3]:
population = pd.Series([100,567,278,33,26])

In [4]:
population

0    100
1    567
2    278
3     33
4     26
dtype: int64

In [5]:
population.name = "Population in different counties"

In [7]:
population

0    100
1    567
2    278
3     33
4     26
Name: Population in different counties, dtype: int64

In [9]:
population.dtype

dtype('int64')

In [10]:
population.values

array([100, 567, 278,  33,  26], dtype=int64)

In [11]:
population[0]

100

In [12]:
population.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
population.index = ['Kisumu', 'Nairobi', 'Nakuru', 'Nyeri', 'Machakos']

In [14]:
population

Kisumu      100
Nairobi     567
Nakuru      278
Nyeri        33
Machakos     26
Name: Population in different counties, dtype: int64

In [16]:
pd.Series({'Kisumu':100, 'Nairobi': 567, 'Nakuru': 278,'Nyeri': 33,
'Machakos':26}, name = 'Population in different counties')

Kisumu      100
Nairobi     567
Nakuru      278
Nyeri        33
Machakos     26
Name: Population in different counties, dtype: int64

In [17]:
pd.Series([100,567,278,33,26], index = ['Kisumu','Nairobi','Nakuru', 'Nyeri','Machakos'], name = 'Population in different counties')

Kisumu      100
Nairobi     567
Nakuru      278
Nyeri        33
Machakos     26
Name: Population in different counties, dtype: int64

## Indexing

In [18]:
population['Kisumu']

100

In [19]:
population.iloc[1]

567

In [20]:
population.iloc[-1]

26

In [21]:
population[['Kisumu','Nyeri']]

Kisumu    100
Nyeri      33
Name: Population in different counties, dtype: int64

In [22]:
population[['Machakos','Nyeri']]

Machakos    26
Nyeri       33
Name: Population in different counties, dtype: int64

In [23]:
population.iloc[[1,2]]

Nairobi    567
Nakuru     278
Name: Population in different counties, dtype: int64

In [24]:
population['Kisumu':'Nyeri']

Kisumu     100
Nairobi    567
Nakuru     278
Nyeri       33
Name: Population in different counties, dtype: int64

## Conditional Selection(Boolean Arrays)

In [25]:
population > 100

Kisumu      False
Nairobi      True
Nakuru       True
Nyeri       False
Machakos    False
Name: Population in different counties, dtype: bool

In [26]:
population[population > 100]

Nairobi    567
Nakuru     278
Name: Population in different counties, dtype: int64

In [27]:
population.mean()

200.8

In [28]:
population[population > population.mean()]

Nairobi    567
Nakuru     278
Name: Population in different counties, dtype: int64

In [29]:
population.std()

228.5469317230052

## Operations and methods

In [31]:
population * 5

Kisumu       500
Nairobi     2835
Nakuru      1390
Nyeri        165
Machakos     130
Name: Population in different counties, dtype: int64

In [32]:
np.log(population)

Kisumu      4.605170
Nairobi     6.340359
Nakuru      5.627621
Nyeri       3.496508
Machakos    3.258097
Name: Population in different counties, dtype: float64

In [33]:
population['Nairobi':'Nyeri'].mean()

292.6666666666667

## Modifying Series

In [34]:
population['Kisumu'] = 569

In [35]:
population

Kisumu      569
Nairobi     567
Nakuru      278
Nyeri        33
Machakos     26
Name: Population in different counties, dtype: int64

In [36]:
population.iloc[-1] = 341

In [37]:
population

Kisumu      569
Nairobi     567
Nakuru      278
Nyeri        33
Machakos    341
Name: Population in different counties, dtype: int64